<div class="row">
  <div class="col-sm-4 col-sm-push-4">
    <div class="panel panel-info" id="general-settings">
      <div class="panel-heading">
        <h4 class="panel-title"><i class="fa fa-cog"></i> Settings</h4>
      </div>

      <div class="panel-body">
        <%= form_for(@account, url: { action: 'settings_post'}) do |f| %>
          <div class="form-group">
            <label for="account_password">Your main currency</label>
            <%= f.collection_select :currency_id, Currency.all, :id, :full_name, { prompt: true }, { :class => 'form-control' } %>
          </div>

          <div class="form-group">
            <label for="account_password">Custom Asset Categories</label>
            <%= hidden_field_tag 'category_url', new_asset_category_path %>
            <div class="row">
              <% @asset_types.each do |at| %>
              <div class="col-lg-6">
                <div class="list-group">
                  <div class="list-group-item active">
                    <h4 class="list-group-item-heading"><%= at.name %></h4>
                  </div>
                  <% at.asset_categories.each do |ac| %>
                  <div class="list-group-item">
                    <%= ac.name %>
                    <% if ac.account_id.present? %>
                    <%= hidden_field_tag "asset_category_#{at.id}[]", ac.name, { :class => 'ac-name' } %>
                    <a href="#" class="pull-right remove-item"><i class="fa fa-minus"></i></a>
                    <% end %>
                  </div>
                  <% end %>
                  <div class="list-group-item template">
                    <span></span>
                    <%= hidden_field_tag "asset_category_#{at.id}[]", '', { :class => 'ac-name' } %>
                    <a href="#" class="pull-right remove-item" title="Remove"><i class="fa fa-minus"></i></a>
                  </div>
                  <div class="list-group-item add-new">
                    <div class="input-group">
                      <input type="text" class="form-control item-name" placeholder="Provide name" />
                      <a href="#" class="input-group-addon btn btn-success confirm-add">
                        <i class="fa fa-check"></i>
                      </a>
                    </div>
                  </div>
                  <a class="list-group-item list-group-item-success new-item">
                    Add new...
                    <i class="fa fa-plus pull-right"></i>
                  </a>
                </div>
              </div>
              <% end %>
            </div>
            <% #f.collection_select :currency_id, Currency.all, :id, :full_name, { prompt: true }, { :class => 'form-control' } %>
          </div>

          <div class="text-right">
            <button class="btn btn-default form-cancel">Cancel</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
