<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3>History of portfolio changes</h3>
    <p>Here will be some additional text.</p>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>No.</th>
          <th>Portfolio value</th>
          <th>Change</th>
          <th>Change type</th>
          <th>Date</th>
          <th>Category</th>
          <th>Comments</th>
        </tr>
        </thead>
        <tbody>
        <% @current_portfolio.portfolio_history_sorted.each_with_index do |item, i| %>
            <tr>
              <td><%= i + 1 %></td>
              <td><%= '%.2f' % item[:total] %></td>
              <td><%= '%.2f' % item[:amount] %></td>
              <td><%= item[:pc].partial_value ? 'amount added' : 'portfolio value change' %></td>
              <td><%= item[:date] %></td>
              <td><%= item[:pc].asset_category.name %></td>
              <td><%= item[:pc].notes %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>