<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3>History of portfolio changes</h3>
    <p>Here will be some additional text.</p>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>No.</th>
          <th>Portfolio value</th>
          <th>Date</th>
          <th>Category</th>
          <th>Comments</th>
        </tr>
        </thead>
        <tbody>
        <% @current_portfolio.portfolio_changes_sorted.each_with_index do |pc, i| %>
            <tr>
              <td><%= i + 1 %></td>
              <td><%= '%.2f' % pc.portfolio.final_value(nil, nil, pc.entered_date) # TODO: add getting final value up to specific record %></td>
              <td><%= pc.entered_date %></td>
              <td><%= pc.asset_category.name %></td>
              <td><%= pc.notes %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>