<div class="row welcome-box">
  <div class="col-md-12">
    <h3 class="lead text-center welcome"><%= WelcomeHelper::get_one %> <%= current_account %>!</h3>
  </div>
</div>
<div class="row portfolio-details">
  <div class="col-md-5 col-md-offset-1">
    <div class="net-value media">
      <div class="media-left">
        <%= image_tag(current_account.gravatar_url(150), class: 'img-circle') %>
      </div>
      <div class="media-body">
        <h4>Net Value</h4>
        <strong class="positive"><%= @portfolio.current_value_formatted %></strong>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="net-value-change media">
      <div class="media-left">
        <i class="fa fa-long-arrow-up positive"></i>
      </div>
      <div class="media-body">
        <h4>Last Month</h4>
        <strong class="positive"><%= @portfolio.last_month_change %></strong>
        <% if @portfolio.portfolio_changes.present? %>
        <button class="btn btn-primary btn-lg pull-right" data-toggle="modal" data-target="#transaction-modal">Update</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= render 'new_transaction' %>
<%= render 'update_portfolio' %>
<% if @portfolio.portfolio_changes.empty? %>
  <%= render 'dashboard_empty' %>
<% else %>
  <%= render 'dashboard_charts' %>
<% end %>