<div class="row welcome-box">
  <div class="col-md-12">
    <h3 class="lead text-center welcome"><%= WelcomeHelper::get_one %> <%= current_account %>!</h3>
  </div>
</div>
<div class="row portfolio-details">
  <div class="col-md-5 col-md-offset-1">
    <div class="net-value media">
      <div class="media-left">
        <%= image_tag(current_account.gravatar_url(150), class: 'img-circle') %>
      </div>
      <div class="media-body">
        <h4>Net Value</h4>
        <strong class="positive">245,000 €</strong>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="net-value-change media">
      <div class="media-left">
        <i class="fa fa-long-arrow-up positive"></i>
      </div>
      <div class="media-body">
        <h4>Last Month</h4>
        <strong class="positive">3%</strong>
        <button class="btn btn-primary btn-lg pull-right" data-toggle="modal" data-target="#transaction-modal">Update</button>
      </div>
    </div>
  </div>
</div>
<%= render 'new_transaction' %>
<%= render 'update_portfolio' %>
<div class="row portfolio-charts">
  <div class="col-md-5 col-md-offset-1">
    <div class="panel panel-info">
      <div class="panel-heading">
        Asset Classes
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <div class="flot-chart">
          <div class="flot-chart-content" id="flot-pie-chart"></div>
        </div>
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <div class="col-md-5">
    <div class="panel panel-info">
      <div class="panel-heading">
        History
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <div class="flot-chart">
          <div class="flot-chart-content" id="flot-line-chart-multi"></div>
        </div>
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
</div>

<p class="text-center">
  <a href="#" class="btn btn-default btn-lg">Report Details</a>
</p>

<div class="row welcome-box">
  <div class="col-md-8 col-md-offset-2">
    <% quote = QuotesHelper::get_one %>
    <blockquote>
      <p><%= quote[:quote] %></p>
      <footer><%= quote[:author] %></footer>
    </blockquote>
  </div>
</div>

<script>
  var asset_classes_data = [
    <%= @asset_types.map { |at| "{ label: '#{at.name}', data: #{at.current_value_for_portfolio(@portfolio)} }" }
      .join(', ').html_safe %>
  ];
</script>