<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= page_title ? page_title + ' | ' : '' %>NetValue</title>

    <%= favicon_link_tag 'logo-small.png', type: 'image/png' %>
    <%= favicon_link_tag 'logo-small.png', rel: 'icon', type: 'image/png' %>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><%= image_tag 'logo-horizontal-small.png', :alt => 'NetValue' %></a>
      </div>
      <!-- /.navbar-header -->

      <% unless current_account.nil? %>
      <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu dropdown-user">
            <li><a href="/accounts/details"><i class="fa fa-user fa-fw"></i> Profile</a></li>
            <li class="divider"></li>
            <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
          </ul>
          <!-- /.dropdown-user -->
        </li>
      <!-- /.dropdown -->
      </ul>
      <!-- /.navbar-top-links -->
      <% end %>
    </nav>

    <div class="container-fluid">
      <!-- Page header -->
      <% if current_account.present? && (current_account.inactive? || flash.present?) %>
      <div class="row">
        <div class="col-md-8 col-md-push-2">
          <% flash.each do |key, value| %>
              <%= content_tag(:div, class: "alert alert-#{key}") do %>
                  <p><%= raw value %></p>
              <% end %>
          <% end %>

          <% if current_account.inactive? %>
          <div class="alert alert-warning">
            <p>
              Your account is not activated yet. Please activate it as soon as you can.<br/>
              To resend the activation email, please <%= link_to('click here', { controller: 'accounts', action: 'resend_activation' }) %>.
            </p>
          </div>
          <% end %>
        </div>
      </div>
      <% end %>
      <!-- /page header -->

      <%= yield %>
    </div>
  </body>
</html>
